<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	 <category label = "General">		<setting id="cache_enabled" type="bool" label="Enable Caching" default="true"/>	</category>	<category label="Scrapers 1">
		<setting label="afdah" type="lsep"/>
		<setting id="afdah_enabled" type="bool" label="Enabled" default="true"/>
		<setting label="afmovies" type="lsep"/>
		<setting id="afmovies_enabled" type="bool" label="Enabled" default="true"/>
		<setting label="Alluc" type="lsep"/>
		<setting id="Alluc_enabled" type="bool" label="Enabled" default="true"/>
		<setting id="Alluc_max" type="slider" label="Max Results for Search" default="20" range="5,200" option="int"/>
		<setting id= "Alluc_user" type="text" label="Username" default=0 />
		<setting id= "Alluc_pw" type="text" label="Password" default=0 />
		<setting label="animetoon" type="lsep"/>
		<setting id="animetoon_enabled" type="bool" label="Enabled" default="true"/>
		<setting label="Bobby" type="lsep"/>
		<setting id="Bobby_enabled" type="bool" label="Enabled" default="true"/>
		<setting label="Cinemabox" type="lsep"/>
		<setting id="Cinemabox_enabled" type="bool" label="Enabled" default="true"/>
		<setting label="dizi720p" type="lsep"/>
		<setting id="dizi720p_enabled" type="bool" label="Enabled" default="true"/>
		<setting label="dizigold" type="lsep"/>
		<setting id="dizigold_enabled" type="bool" label="Enabled" default="true"/>
		<setting label="hddizi" type="lsep"/>
		<setting id="hddizi_enabled" type="bool" label="Enabled" default="true"/>
		<setting label="M4U" type="lsep"/>
		<setting id="M4U_enabled" type="bool" label="Enabled" default="true"/>
		<setting label="moviefree" type="lsep"/>
		<setting id="moviefree_enabled" type="bool" label="Enabled" default="true"/>
		<setting label="moviego" type="lsep"/>
		<setting id="moviego_enabled" type="bool" label="Enabled" default="true"/>
		<setting label="moviexk" type="lsep"/>
		<setting id="moviexk_enabled" type="bool" label="Enabled" default="true"/>
		<setting label="Onemusic" type="lsep"/>
		<setting id="Onemusic_enabled" type="bool" label="Enabled" default="true"/>
		<setting label="onlinemovies" type="lsep"/>
		<setting id="onlinemovies_enabled" type="bool" label="Enabled" default="true"/>
		<setting label="pelispedia" type="lsep"/>
		<setting id="pelispedia_enabled" type="bool" label="Enabled" default="true"/>
		<setting label="primewire" type="lsep"/>
		<setting id="primewire_enabled" type="bool" label="Enabled" default="true"/>
		<setting id= "primewire_baseurl" type="text" label="Base Url" default="http://www.primewire.ag"/>
		<setting label="pubfilm" type="lsep"/>
		<setting id="pubfilm_enabled" type="bool" label="Enabled" default="true"/>
		<setting id= "pubfilm_baseurl" type="text" label="Base Url" default="http://pubfilm.is"/>
		<setting label="sezonlukdizi" type="lsep"/>
		<setting id="sezonlukdizi_enabled" type="bool" label="Enabled" default="true"/>
		<setting label="Solar" type="lsep"/>
		<setting id="Solar_enabled" type="bool" label="Enabled" default="true"/>
		<setting label="watchcartoon" type="lsep"/>
		<setting id="watchcartoon_enabled" type="bool" label="Enabled" default="true"/>
		<setting label="watchfree" type="lsep"/>
		<setting id="watchfree_enabled" type="bool" label="Enabled" default="true"/>
		<setting id= "watchfree_baseurl" type="text" label="Base Url" default="http://www.watchfree.to"/>
		<setting label="watchitvideos" type="lsep"/>
		<setting id="watchitvideos_enabled" type="bool" label="Enabled" default="true"/>
	</category>
	<category label="Scrapers 2">
		<setting label="xmovies" type="lsep"/>
		<setting id="xmovies_enabled" type="bool" label="Enabled" default="true"/>
	</category>
</settings>