<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	 <category label = "General">		<setting id="cache_enabled" type="bool" label="Enable Caching" default="true"/>	</category>	<category label="Scrapers 1">
		<setting label="afdah" type="lsep"/>
		<setting id="afdah_enabled" type="bool" label="Enabled" default="true"/>
		<setting label="animetoon" type="lsep"/>
		<setting id="animetoon_enabled" type="bool" label="Enabled" default="true"/>
		<setting label="dizi720p" type="lsep"/>
		<setting id="dizi720p_enabled" type="bool" label="Enabled" default="true"/>
		<setting label="dizigold" type="lsep"/>
		<setting id="dizigold_enabled" type="bool" label="Enabled" default="true"/>
		<setting label="hddizi" type="lsep"/>
		<setting id="hddizi_enabled" type="bool" label="Enabled" default="true"/>
		<setting label="M4U" type="lsep"/>
		<setting id="M4U_enabled" type="bool" label="Enabled" default="true"/>
		<setting label="moviego" type="lsep"/>
		<setting id="moviego_enabled" type="bool" label="Enabled" default="true"/>
		<setting label="moviexk" type="lsep"/>
		<setting id="moviexk_enabled" type="bool" label="Enabled" default="true"/>
		<setting label="onemovies" type="lsep"/>
		<setting id="onemovies_enabled" type="bool" label="Enabled" default="true"/>
		<setting id= "onemovies_baseurl" type="text" label="Base Url" default="https://123movies.pp.ru"/>
		<setting label="Onemusic" type="lsep"/>
		<setting id="Onemusic_enabled" type="bool" label="Enabled" default="true"/>
		<setting label="onlinemovies" type="lsep"/>
		<setting id="onlinemovies_enabled" type="bool" label="Enabled" default="true"/>
		<setting label="pelispedia" type="lsep"/>
		<setting id="pelispedia_enabled" type="bool" label="Enabled" default="true"/>
		<setting label="primewire" type="lsep"/>
		<setting id="primewire_enabled" type="bool" label="Enabled" default="true"/>
		<setting id= "primewire_baseurl" type="text" label="Base Url" default="http://www.primewire.ag"/>
		<setting label="pubfilm" type="lsep"/>
		<setting id="pubfilm_enabled" type="bool" label="Enabled" default="true"/>
		<setting id= "pubfilm_baseurl" type="text" label="Base Url" default="http://pubfilm.com"/>
		<setting label="sezonlukdizi" type="lsep"/>
		<setting id="sezonlukdizi_enabled" type="bool" label="Enabled" default="true"/>
		<setting label="watchcartoon" type="lsep"/>
		<setting id="watchcartoon_enabled" type="bool" label="Enabled" default="true"/>
		<setting label="watchepisodes" type="lsep"/>
		<setting id="watchepisodes_enabled" type="bool" label="Enabled" default="true"/>
		<setting label="watchfree" type="lsep"/>
		<setting id="watchfree_enabled" type="bool" label="Enabled" default="true"/>
		<setting id= "watchfree_baseurl" type="text" label="Base Url" default="http://www.watchfree.to"/>
		<setting label="watchitvideos" type="lsep"/>
		<setting id="watchitvideos_enabled" type="bool" label="Enabled" default="true"/>
		<setting label="xmovies" type="lsep"/>
		<setting id="xmovies_enabled" type="bool" label="Enabled" default="true"/>
	</category>
</settings>