<settings>
	
	<category label="AutoView">
		<setting id="auto-view" type="bool" label="Enable Automatic View" default="true"/>
		<setting id="movie-view" type="labelenum" label="Movies View" values="Default View|Info|Info2|Info3|Fanart|Big list|Poster Wrap|Low List|Thumbnail" default="Info2" enable="!eq(-1,false)+!eq(-2,false)"/>
		<setting type="lsep" label="The number set for each View Types above are based"/>
		<setting type="lsep" label="on Confluence/Xonfluence if using a different"/>
		<setting type="lsep" label="skin these numbers maybe wrong in that case"/>
		<setting type="lsep" label="you can set View to Default View and then set"/>
		<setting type="lsep" label="the number for the View Type you would like below"/>
		<setting id="default-view" type="number" label="Default View" default="500" enable="!eq(-3,false)"/>
		<setting type="lsep" label="If you have SuperFavourites installed you can find"/>
		<setting type="lsep" label="the correct number for the view you want by opening SF"/>
		<setting type="lsep" label="and choosing the view you want in the side menu."/>
		<setting type="lsep" label="Then open the context menu in SF and choose Remember View Type."/>
		<setting type="lsep" label="Now go into SF settings, select the Display Settings tab and the last"/>
		<setting type="lsep" label="setting will show you the number you want (Set view list type)."/>
	</category>
	
	<category label="Autoplay">
		<setting id="autoplay" type="bool" label="Enable Auto Play" default="false"/>
		<setting type="lsep" label="Please note that in kodi the 360p streams show up as 480p"/>
		<setting type="lsep" label="and the 480p streams show up as 540p when playing"/>
		<setting id="default_quality" type="labelenum" label="Default Autoplay Quality" values="1080p|720p|480p|360p" default="720p" enable="!eq(-1,false))" />
	</category>

	<category label="Metadata">
		<setting id="enable_meta" type="bool" label="Enable Metadata" default="true"/>
	</category>
	
	<category label="Update">
		<setting type="lsep" label="    When You Click Check For Updates It will Appear As If Nothing Happened"/>
		<setting type="lsep" label="  If Their Is Any Available Updates You Will See The Appropriate Notifications"/>
		<setting label="  [COLOR red]Click Here To Check For Updates For All Your Addons&Repos[/COLOR]" type="action" action="UpdateAddonRepos"/>
	</category>
	
</settings>