<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="30000">
		<setting type="lsep" label="30001"/>
		<setting id="shows_mega" type="enum" label="MEGA" lvalues="30002|30003" default="0"/>
		<setting id="shows_ant1" type="enum" label="ANT1" lvalues="30002|30003" default="0"/>
		<setting id="shows_alpha" type="enum" label="ALPHA" lvalues="30002|30003" default="0"/>
		<setting id="shows_star" type="enum" label="STAR" lvalues="30002|30003" default="0"/>
		<setting id="shows_skai" type="enum" label="SKAI" lvalues="30002|30003" default="0"/>
	</category>

	<category label="30004">
		<setting label="30005" type="action" action="RunPlugin(plugin://plugin.video.hellenic.tv/?action=cache_clear_list)"/>
	</category>
</settings>