@IF(@PARAM1@!=Streams)@
start=http://goldnox.pw/scheduleframe.php
skill=allowDuplicates,videoTitle
# catcher=streams

item_infos=<li\s*(?:id="hd")?><a\s*href="([^"]+)"\s*target="+[^"]+"\s*id="\s*([^"]+)"><span\s*id="title">\s*([^<]+)\s*</span>\s*<span\s*id="time">\s*[^<]*?(\d{1,2}:\d\d\s*\w\w)\/(?:bst|gmt)[^<]*?\s*</span>
item_order=url.tmp|sport.tmp|title.tmp|time.tmp
item_skill=rss

item_info_name=url
item_info_from=url.tmp
item_info_convert=replace('%s',' ','')
item_info_convert=urlMerge('http://goldnox.pw/','%s')
item_info_build=%s

item_info_name=sport
item_info_from=sport.tmp
item_info_convert=camelcase(%s)
item_info_build=%s: 

item_info_name=time
item_info_from=time.tmp
item_info_convert=convDateUtil('default','Europe/London')
item_info_build=%s

item_info_name=cfg
item_info_build=slipstreamtv.co.cfg@Streams

item_info_name=title
item_info_from=[' + time + '] ' + sport + title.tmp
item_info_build=%s

item_url_build=%s

@ENDIF@  

@IF(@PARAM1@==Streams)@

item_infos=src=["']([^\"\']*sawlive.tv/embed/(?!zunox)[^"'/]+)
item_precheck=sawlive.tv
item_order=video
@CATCH(sawlive,video)@

########################################################
item_infos=>id='([^\"\'].*?)'.*theactionlive.com/livegame[^\"\']*'>
item_precheck=theactionlive.com
item_order=video
@CATCH(theactionlive,video)@

########################################################
item_infos=src=["']([^\"\']*sawlive.tv/embed/zunox[^"'/]+)
item_precheck=sawlive.tv
item_order=video
@CATCH(ustream3,video)@

########################################################
# 3live - Videos
########################################################
item_infos=fid="([^"]+)".*?castup.(?:tv|me)
item_precheck=castup
item_order=video
@CATCH(castup,video)@
########################################################
item_infos=castup.tv/embed_*\d*.php\?channel=([^&]+)
item_precheck=castup.tv
item_order=video
@CATCH(castup,video)@

@ENDIF@
