########################################################
# http://vipgoal.net
########################################################
@IF(@PARAM1@!=Schedule)@
@IF(@PARAM1@!=BackUp)@
####################################################
title=*Events today*
type=once
cfg=vipgoal.cfg@Schedule
url=http://www.vipgoal.net/index.php

####################################################
catcher=streams
skill=videoTitle

section=Channels\s*24.*</table>
start=http://www.vipgoal.net/index.php

item_infos=href="([^"]+).*?title="([^"]+).*?img\s+src="([^"]+)
item_order=url|title_tmp|icon
item_skill=rss

item_info_name=title
item_info_from=title_tmp
#item_info_convert=parseText('%s','(\w+-\w+-\w+).*')
#item_info_convert=replace('%s','-live',' ')
#item_info_convert=replace('%s','-stream',' ')
item_info_convert=replace('%s','-',' ')
item_info_convert=unquote('%s')
item_info_convert=camelcase
#item_info_convert=replaceFromDict('chfix')
item_info_build=%s

#item_info_name=icon
#item_info_from=title
#item_info_convert=replaceFromDict('logos')
#item_info_build=sports.devil.image|channels/%s

item_url_build=%s
@ENDIF@
@ENDIF@

@IF(@PARAM1@==Schedule)@
#section=Events\s*Today.*div\s+class.*?ppal
start=http://www.vipgoal.net/index.php
catcher=streams
skill=videoTitle

#skill=allowDuplicates

#item_infos=span\s+class="icon-logo">.*?href="([^"]+).*?fecha.*?(\d+:\d+).*?title="([^"]+)
#<li\s+class.*?href="([^"]+).*?TODAY.*?(\d\d:\d\d).*?title="([^"]+).*?img\s+src="([^"]+)
item_infos=<span\s+class="icon-logo">.*?href="([^"]+).*?TODAY.*?(\d\d:\d\d).*?title="([^"]+).*?img\s+src="([^"]+)
item_order=url.tmp|time.tmp|event|icon.tmp
item_skill=rss

item_info_name=time
item_info_from=time.tmp
item_info_convert=convDateUtil('default','Europe/Madrid')
item_info_build=%s

item_info_name=url
item_info_from=url.tmp
item_info_build=http://www.vipgoal.net/%s

item_info_name=icon
item_info_from=icon.tmp
item_info_build=http://www.vipgoal.net/%s

item_info_name=title
item_info_from='[' + time + '] ' + event
item_info_build=%s

item_info_name=cfg
item_info_build=vipgoal.links.cfg

item_url_build=%s
@ENDIF@

