<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="GENERAL">
		<setting type="lsep" label="[COLOR=dodgerblue]General Settings[/COLOR]"/>
		<setting id="checkaddonupdates" type="bool" label="Check for Wizard and Repository updates on launch." default="true"/>
		<setting id="checkupdates" type="bool" label="Check for build updates on Kodi startup" default="true"/>
		<setting type="lsep" label="[COLOR=dodgerblue]Backup Settings[/COLOR]"/>
		<setting id="zip" type="folder"    label="Choose Backup Storage Location:"      default="special://home/backupdir"/>
		<setting type="lsep" label="[COLOR=dodgerblue]Log Settings[/COLOR]"/>
		<setting id="email" type="text" label="30500"/>
		<setting id="include_old" type="bool" label="30501" default="true"/>
		<setting id="addon_debug" type="bool" label="Addon Debug" visible="false" default="false"/>
		<setting id="email_prompt" type="bool" visible="false" default="false"/>
		<setting label="30502" type="lsep"/>
		<setting id="enable_tvaddons" type="bool" label="30503" default="true"/>
		<setting id="enable_dropbox" type="bool" label="30504" default="false"/>
		<setting id="enable_pastebin" type="bool" label="30505" default="false"/>
		<setting id="enable_ubuntu" type="bool" label="30506" default="false"/>
	</category>
	<category label="AUTO CLEAN OPTIONS">
		<setting type="lsep" label="Launch Time Options"/>
		<setting id="acstartup" type="bool" label="Clear on Kodi Launch" default="false"/>	
		<setting type="lsep" label="Check Cache, Packages Etc And Prompt To Clean If Over 100 MB."/>
		<setting id="startupsize" type="bool" label="Check Folder Sizes on Launch" default="false"/>	
		<setting type="lsep" label="Clean Up At Certain MB"/>
		<setting id="cachemb" type="enum" values="Disabled|25 MB|50 MB|75 MB|100 MB" label="Clear Cache At (MB)" default="0"/>
		<setting id="packagesmb" type="enum" values="Disabled|25 MB|50 MB|75 MB|100 MB" label="Clear Packages At (MB)" default="0"/>
		<setting id="thumbsmb" type="enum" values="Disabled|25 MB|50 MB|75 MB|100 MB" label="Clear Thumbnails At (MB)" default="0"/>
		<setting type="lsep" label="Weekly Clean Out"/>
		<setting id="clearday" type="enum" values="None|Monday|Tuesday|Wednesday|Thursday|Friday|Saturday|Sunday" label="Clean Out Day" default="0"/>
		<setting type="lsep" label="Clean Up Options"/>
		<setting id="accache" type="bool" label="Clear Cache" default="true"/>	
		<setting id="accrash" type="bool" label="Clear Crash Logs" default="true"/>	
		<setting id="acthumbs" type="bool" label="Clear Thumbnails" default="true"/>	
		<setting id="acpackages" type="bool" label="Purge Packages" default="true"/>	
   	</category>
</settings>