<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>

	<category label="Accounts">
		<setting label="AerTV (Premium) Login Details:" type="lsep"/>
		<setting id="aertv_email" label="Email:" type="text" default="" />
		<setting id="aertv_password" label="Password:" type="text" default="" option="hidden" enable="!eq(-1,)" />
	</category>
	
</settings>
