<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<setting id="enable_meta" type="bool" label="Enable Metadata" default="True"/>
	<setting label="          Open Meta Settings" type="action" option="close"
                 action="RunPlugin(plugin://plugin.video.Evolve/?mode=13&url=unused)"enable="!eq(-1,false)"/>
	<setting id="password" type="text"label="Adult Password" default="" option="hidden" visible="true"/>
	<setting id="pos" type="text"label="pos" default="" visible="false" option="hidden" />
	<setting id="tv" type="text"label="tv" default=" " option="hidden" visible="false"/>
	<setting id="favlist" type="text"label="favlist" default="no" option="hidden" visible="false"/>
	<setting id="favtype" type="text"label="favtype" default=" " option="hidden" visible="false"/>
	<setting label="Open Scraper Settings" type="action" option="close"
                 action="RunPlugin(plugin://plugin.video.Evolve/?mode=25&url=unused)"/>
	<setting label="Open URL Resolver Settings" type="action" option="close"
                 action="RunPlugin(plugin://plugin.video.Evolve/?mode=12&url=unused)"/>
</settings>