<settings>
    <category label="30001">
        <setting visible="false" id="developer" label="Developer mode" type="bool" default="false"/>
        <setting id="group" label="30002" type="text" default="ΟΛΑ" enable="eq(-1,true)"/>
        <setting id="show-bup" label="30003" type="bool" default="true"/>
        <setting id="sort" label="30004" type="bool" default="false"/>
        <setting id="method" type="enum" label="30007" lvalues="30005|30006" default="0" enable="eq(-1,true)"/>
    </category>
</settings>
