<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="30800">
		<setting id="appearance.alt" type="action" label="30801" default="-" option="close" action="RunPlugin(plugin://plugin.video.exodus/?action=artwork)" visible="!System.HasAddon(script.exodus.artwork)" />
		<setting id="appearance.1" type="select" label="30801" values="-|Exuary|Exodus|Genesis" default="Exodus" visible="System.HasAddon(script.exodus.artwork)" />
		<setting id="scrapers.timeout.1" type="slider" label="30804" default="30" range="10,60" option="int" />
		<setting id="trakt.user" type="text" default="" visible="false" />
		<setting id="indicators.alt" type="enum" label="30820" lvalues="30821|30822" default="0" visible="!eq(-1,)" />
		<setting id="indicators" type="enum" label="30820" lvalues="30821" default="0" visible="eq(-2,)" />
		<setting id="api.language" type="select" label="30803" values="AUTO|Bulgarian|Chinese|Croatian|Czech|Danish|Dutch|English|Finnish|French|German|Greek|Hebrew|Hungarian|Italian|Japanese|Korean|Norwegian|Polish|Portuguese|Romanian|Russian|Serbian|Slovak|Slovenian|Spanish|Swedish|Thai|Turkish|Ukrainian" default="AUTO" />
		<setting id="flatten.tvshows" type="bool" label="30828" default="false" />
		<setting id="fanart" type="bool" label="30802" default="true" />
		<setting type="lsep" label="30805" />
		<setting id="movie.widget" type="enum" label="30806" lvalues="30807|30808|30809|30810|30811" default="1" />
		<setting id="tv.widget.alt" type="enum" label="30812" lvalues="30813|30814|30815|30816" default="2" visible="!eq(-8,)+eq(-7,1)" />
		<setting id="tv.widget" type="enum" label="30812" lvalues="30813|30814" default="1" visible="eq(-9,)|eq(-8,0)" />
		<setting id="calendar.widget" type="enum" label="30817" lvalues="30818|30819" default="0" />
		<setting id="lists.widget" type="enum" label="30823" lvalues="30824|30825" default="1" />
		<setting id="trakt.user" type="text" default="" visible="false" />
		<setting id="imdb.user" type="text" default="" visible="false" />
		<setting type="lsep" label="30826" visible="!eq(-1,)|!eq(-2,)" />
		<setting id="menu.classic" type="bool" label="30827" default="true" visible="!eq(-2,)|!eq(-3,)" />
	</category>
	<category label="30830">
		<setting id="hosts.quality" type="enum" label="30831" values="1080p|720p|480p" default="0" />
		<setting id="hosts.mode" type="enum" label="30832" lvalues="30833|30834" default="1" enable="eq(6,false)" />
		<setting id="progress.dialog" type="enum" label="30846" lvalues="30847|30848" default="0" />
		<setting type="lsep" label="30835" />
		<setting id="hosts.captcha" type="bool" label="30836" default="true" />
		<setting id="hosts.sort.provider" type="bool" label="30837" default="false" />
		<setting type="lsep" label="30839" />
		<setting id="autoplay" type="bool" label="30840" default="false" />
		<setting id="autoplay.sd" type="bool" label="30842" default="false" />
		<setting type="lsep" label="30843" />
		<setting id="bookmarks" type="bool" label="30844" default="true" />
		<setting id="player.info" type="bool" label="30845" default="false" />
	</category>
	<category label="30860">
		<setting id="provider.primewire" type="bool" label="Primewire" default="true" />
		<setting id="provider.movie25" type="bool" label="Movie25" default="true" />
		<setting id="provider.watchseries" type="bool" label="Watchseries" default="true" />
		<setting id="provider.watchfree" type="bool" label="Watchfree" default="true" />
		<setting id="provider.directdl" type="bool" label="DirectDL" default="true" />
		<setting id="provider.ddlvalley" type="bool" label="DDLvalley" default="true" />
		<setting id="provider.twoddl" type="bool" label="twoDDL" default="true" />
		<setting id="provider.rlsbb" type="bool" label="rlsBB" default="true" />
		<setting id="provider.hevcmovies" type="bool" label="HEVCmovies" default="true" />
		<setting id="provider.watch1080" type="bool" label="Watch1080" default="true" />
		<setting id="provider.onemovies" type="bool" label="Onemovies" default="true" />
		<setting id="provider.ninemovies" type="bool" label="Ninemovies" default="true" />
		<setting id="provider.pelispedia" type="bool" label="Pelispedia" default="true" />
		<setting id="provider.putlocker" type="bool" label="Putlocker" default="true" />
		<setting id="provider.miradetodo" type="bool" label="MiraDeTodo" default="true" />
		<setting id="provider.usmovies" type="bool" label="USmovies" default="true" />
		<setting id="provider.usseries" type="bool" label="USseries" default="true" />
		<setting id="provider.afdah" type="bool" label="Afdah" default="true" />
		<setting id="provider.xmovies" type="bool" label="Xmovies" default="true" />
		<setting id="provider.pubfilm" type="bool" label="Pubfilm" default="true" />
		<setting id="provider.tunemovie" type="bool" label="Tunemovie" default="true" />
		<setting id="provider.sezonlukdizi" type="bool" label="Sezonlukdizi" default="true" />
		<setting id="provider.dizilab" type="bool" label="Dizilab" default="true" />
		<setting id="provider.dizibox" type="bool" label="Dizibox" default="true" />
		<setting id="provider.onlinedizi" type="bool" label="Onlinedizi" default="true" />
		<setting id="provider.dizigold" type="bool" label="Dizigold" default="true" />
		<setting id="provider.einthusan" type="bool" label="Einthusan" default="true" />
		<setting id="provider.animeultima" type="bool" label="Animeultima" default="true" />
		<setting id="provider.torba" type="bool" label="Torba" default="true" />
		<setting id="provider.streamlord" type="bool" label="Streamlord" default="true" />
		<setting id="provider.moviestorm" type="bool" label="Moviestorm" default="true" />
		<setting id="provider.moviesplanet" type="bool" label="Moviesplanet" default="true" />
		<setting id="provider.ororo" type="bool" label="Ororo" default="true" />
		<setting id="provider.library" type="bool" label="Library" default="true" />
	</category>
	<category label="30910">
		<setting type="lsep" label="Trakt" />
		<setting id="trakt.user" type="action" label="30914" option="close" action="RunPlugin(plugin://plugin.video.exodus/?action=authTrakt)" />
		<setting id="trakt.token" type="text" option="hidden" visible="false" label="" default="" />
		<setting id="trakt.refresh" type="text" option="hidden" visible="false" label="" default="" />
		<setting type="lsep" label="IMDb" />
		<setting id="imdb.user" type="text" label="30911" default="" />
		<setting type="lsep" label="Moviesplanet.is" />
		<setting id="moviesplanet.user" type="text" label="30911" default="" />
		<setting id="moviesplanet.pass" type="text" option="hidden" label="30913" default="" />
		<setting type="lsep" label="Streamlord.com" />
		<setting id="streamlord.user" type="text" label="30911" default="" />
		<setting id="streamlord.pass" type="text" option="hidden" label="30913" default="" />
		<setting type="lsep" label="Ororo.tv" />
		<setting id="ororo.user" type="text" label="30912" option="hidden" default="" />
		<setting id="ororo.pass" type="text" option="hidden" label="30913" default="" />
		<setting type="lsep" label="RealDebrid" />
		<setting id="realdebrid.auth" type="action" option="close" label="30914" action="RunPlugin(plugin://plugin.video.exodus/?action=rdAuthorize)" />
		<setting id="realdebrid.id" type="text" option="hidden" visible="false" label="" default="" />
		<setting id="realdebrid.secret" type="text" option="hidden" visible="false" label="" default="" />
		<setting id="realdebrid.token" type="text" option="hidden" visible="false" label="" default="" />
		<setting id="realdebrid.refresh" type="text" option="hidden" visible="false" label="" default="" />
		<setting type="lsep" label="Premiumize" />
		<setting id="premiumize.user" type="text" label="ID" default="" />
		<setting id="premiumize.pin" type="text" option="hidden" label="PIN" default="" />
		<setting type="lsep" label="AllDebrid" />
		<setting id="alldebrid.user" type="text" label="30911" default="" />
		<setting id="alldebrid.pass" type="text" option="hidden" label="30913" default="" />
		<setting type="lsep" label="RPnet" />
		<setting id="rpnet.user" type="text" label="30911" default="" />
		<setting id="rpnet.api" type="text" option="hidden" label="API" default="" />
	</category>
	<category label="30950">
		<setting id="downloads" type="bool" label="30953" default="false" />
		<setting type="sep" />
		<setting id="movie.download.path" type="folder" label="30951" enable="!eq(-2,false)" default="" />
		<setting id="tv.download.path" type="folder" label="30952" enable="!eq(-3,false)" default="" />
		<setting type="lsep" label="[CR]" />
		<setting type="lsep" label="30954" />
		<setting type="lsep" label="30955" />
	</category>
	<category label="30940">
		<setting id="subtitles" type="bool" label="30943" default="false" />
		<setting type="sep" />
		<setting id="subtitles.utf" type="bool" label="30944" enable="!eq(-2,false)" default="false" />
		<setting type="sep" />
		<setting id="subtitles.lang.1" type="select" label="30945" values="Afrikaans|Albanian|Arabic|Armenian|Basque|Bengali|Bosnian|Breton|Bulgarian|Burmese|Catalan|Chinese|Croatian|Czech|Danish|Dutch|English|Esperanto|Estonian|Finnish|French|Galician|Georgian|German|Greek|Hebrew|Hindi|Hungarian|Icelandic|Indonesian|Italian|Japanese|Kazakh|Khmer|Korean|Latvian|Lithuanian|Luxembourgish|Macedonian|Malay|Malayalam|Manipuri|Mongolian|Montenegrin|Norwegian|Occitan|Persian|Polish|Portuguese|Portuguese(Brazil)|Romanian|Russian|Serbian|Sinhalese|Slovak|Slovenian|Spanish|Swahili|Swedish|Syriac|Tagalog|Tamil|Telugu|Thai|Turkish|Ukrainian|Urdu" enable="!eq(-4,false)" default="English" />
		<setting id="subtitles.lang.2" type="select" label="30946" values="Afrikaans|Albanian|Arabic|Armenian|Basque|Bengali|Bosnian|Breton|Bulgarian|Burmese|Catalan|Chinese|Croatian|Czech|Danish|Dutch|English|Esperanto|Estonian|Finnish|French|Galician|Georgian|German|Greek|Hebrew|Hindi|Hungarian|Icelandic|Indonesian|Italian|Japanese|Kazakh|Khmer|Korean|Latvian|Lithuanian|Luxembourgish|Macedonian|Malay|Malayalam|Manipuri|Mongolian|Montenegrin|Norwegian|Occitan|Persian|Polish|Portuguese|Portuguese(Brazil)|Romanian|Russian|Serbian|Sinhalese|Slovak|Slovenian|Spanish|Swahili|Swedish|Syriac|Tagalog|Tamil|Telugu|Thai|Turkish|Ukrainian|Urdu" enable="!eq(-5,false)" default="English" />
		<setting type="lsep" label="[CR]" />
		<setting type="lsep" label="30941" />
		<setting type="lsep" label="30942" />
	</category>
</settings>
