<settings>
<!-- main user settings -->
	<category label="30715">
		<setting label="30716"	type="lsep" />
		<setting label="30717"	type="bool"	id="metadata"	default="true" />
		<setting label="30718"	type="lsep" />
		<setting label="30719"	type="action"	action="RunPlugin(plugin://plugin.video.bob/?action=clearCache)" />
		<setting label="30760"	type="lsep" />
        <setting id="disable_messages"       label="30767"   type="bool"     default="false" />
		<setting id="enable_offensive"		label="30761"	type="bool"		default="false" enable="eq(-1,false)" />
		<!-- other settings -->
		<setting label="30723"	type="lsep" />
		<setting label="30724"	type="action"	action="RunPlugin(plugin://plugin.video.bob/credits)" />
		<!--<setting id="install_hosts" label="Install hosts file" type="action"	action="RunScript(special://home/addons/plugin.video.bob/resources/lib/modules/hosts.py)" />-->
		<setting label="32504"	type="bool"	id="my_bob_name"	default="false" />
	</category>

	<category label="Provider">
	<!-- scraper settings -->
		<setting label="30733"	type="lsep" />
		<setting label="30734"	type="action"	option="close"	action="RunPlugin(plugin://plugin.video.bob/?action=ScraperSettings)" />
		<setting id="use_link_dialog"		label="30744"			type="bool"		default="false" />
		<setting label="30741"	type="lsep" />
		<setting label="30742"	type="action"	option="close"	action="RunPlugin(plugin://plugin.video.bob/?action=ResolverSettings)" />
	<!-- filtering settings -->
		<setting label="30735"	type="lsep" />
		<setting id="allow_openload"		label="30736"			type="bool"		default="false" />
		<setting id="allow_the_video_me"	label="30737"			type="bool"		default="false" />
		<setting id="allow_debrid"			label="30743"			type="bool"		default="false" visible="false"/>
		<setting label="queueing Options"	type="lsep" />
		<setting id="include_watched_queue"       label="Include Watched In Collection Queueing"   type="bool"     default="false" />
		<setting id="background_list_queue"       label="Enable Background Queueing For Collection Types (Experimental)"   type="bool"     default="true" />
	</category>

<!-- Third party install options -->
	<category label="30740">
		<setting id="installaddons"	label="30766"	type="enum"	values="Off|Auto|Ask"	default="0"	visible="true"/>
		<setting label="30762"	type="lsep" />
		<setting label="30763"	type="lsep" />
		<setting id="installrepos"	label="30757"	type="enum"	values="Off|Auto|Ask"	default="0"	visible="eq(-3,1)||eq(-3,2)"/>
		<setting label="30765"	type="lsep"	visible="eq(-4,1)||eq(-4,2)"/>
		<setting id="silent"	label="Add-on install status"	type="enum"	values="Show Install Progress|Silent"	default="0"	visible="eq(-5,1)||eq(-5,2)"/>
	</category>

<!-- login - future features for playlisters -->
	<category label="30770">
		<setting id="login"		label="30843"	type="bool"   	default="false" 						visible="true" />
 		<setting id="forum"		label="30844"	type="text"    	default="Unofficial Kodi Support"	visible="false" />
		<setting id="username"	label="30845"	type="text"		default="" 							visible="eq(-2,true) "/>
		<setting id="password"	label="30846"	type="text"		default=""		option="hidden"		visible="eq(-3,true) "/>
<!-- debugging and developer options -->
		<setting id="debug"		label="30758" 	type="bool"		default="false"		visible="true" />
		<setting id="testver"	label="30900"	type="bool"		default="false"		visible="false"/>
        <setting id="testsettings"	label="30933"	type="action"	action="RunScript(special://home/addons/script.module.python.koding.aio/lib/koding/__init__.py,settings,plugin.video.bob)"	option="close"	visible="false"/>
	</category>

	<category label="Maintenance">
        <setting id="clear_data"	label="Re-check Server"	type="action"	action="RunScript(special://home/addons/script.module.python.koding.aio/lib/koding/__init__.py,clear_data,plugin.video.bob)"	option="close"	visible="true"/>
    </category>

</settings>