<settings>

    <category label="Add Source">
    <setting id="new_url_source" type="text" label="Add URL" default="&#104;&#116;&#116;&#112;&#115;://&#114;&#097;&#119;&#046;&#103;&#105;&#116;&#104;&#117;&#098;&#117;&#115;&#101;&#114;&#099;&#111;&#110;&#116;&#101;&#110;&#116;&#046;&#099;&#111;&#109;/&#067;&#097;&#114;&#108;&#101;&#115;&#116;&#111;/&#076;&#105;&#115;&#116;&#097;&#115;/&#109;&#097;&#115;&#116;&#101;&#114;/&#099;&#097;&#114;&#105;&#110;&#100;&#101;&#120;" visible="eq(-2,1)"/>
    <setting type="sep" />
    <setting type="action" label="[COLOR lime]********** [B]CARGAR LISTA **********[/B][/COLOR]" option="close" action="RunPlugin(plugin://plugin.video.Catoal/?mode=7)" />
    <setting type="sep" />  
  </category>
  
  <category label="Información Catoal">
       	<setting type="lsep" label="Versión del Addon Actualizado 10/06/2016" option="close" action="RunPlugin(plugin://plugin.video.Catoal/?mode=7)" />
        <setting type="lsep" label="Facebook: www.facebook.com/catoal.kodi" option="close" action="RunPlugin(plugin://plugin.video.Catoal/?mode=7)" />
        <setting type="lsep" label="Twitter: @kodi_catoal" option="close" action="RunPlugin(plugin://plugin.video.Catoal/?mode=7)" />
		<setting type="lsep" label="Email: catoal.kodi@gmail.com" option="close" action="RunPlugin(plugin://plugin.video.Catoal/?mode=7)" />
		<setting type="lsep" label="Web: http://catoalkodi.com" option="close" action="RunPlugin(plugin://plugin.video.Catoal/?mode=7)" />
		<setting type="lsep" label="Grupo Telegram: @kodicatoal" option="close" action="RunPlugin(plugin://plugin.video.Catoal/?mode=7)" />
 </category>
		
  <category label="Configuración General">
        <setting type="lsep" label="Para su buen funcionamiento pinchar en" option="close" action="RunPlugin(plugin://plugin.video.Catoal/?mode=7)" />
        <setting type="lsep" label="POR DEFECTO y luego en OK" option="close" action="RunPlugin(plugin://plugin.video.Catoal/?mode=7)" />
		<setting id="ask_playlist_items" type="bool" label="Elegir Fuente de Video" default="true" visible="false"/>
        <setting id="add_playlist" type="bool" label="Activar Multilink" default="true" visible="false"/>
        <setting id="genesisorpulsar" type="enum" values="Genesis|Pulsar" label="Play IMDBid with:" default="Genesis"visible="false"/>
        <setting id="donotshowbychannels" label="Ocultar Canales" type="bool" default="false" visible="false"/>
  </category>
  </settings>
