<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="20000">
        <setting type="lsep" label="20006" />
        <setting id="autoplay" type="bool" label="20001" default="false" />
        <setting type="lsep" label="20002" />
        <setting id="download_path" type="folder" source="video" label="20003" option="writeable" default=""/>
        <setting type="lsep" label="20005" />
        <setting id="proxy" type="bool" label="20004" default="false" />
        <setting type="lsep" label="20009" />
        <setting id="timeout" type="number" label="20010" default="20" />
        <setting type="lsep" label="20007" />
        <setting id="vidview" type="number" label="20008" default="50" />
    </category>
	<category label="30000">
	   <setting id="translation" type="bool" label="30001" default="false"/>
	   <setting id="language" type="select" label="30002" values="cs|da|de|el|en|es|fi|fr|he|hr|hu|it|ja|ko|nl|no|pl|pt|ru|sl|sv|tr|zh" default="en" />
	   <setting type="lsep" label="30942" />
	   <setting type="lsep" label="30943" />
       <setting type="lsep" label="30944" />
	</category>
    <category label="50000">
       <setting type="lsep" label="50003" />
	   <setting id="wushare_username" type="text" label="50001" />
	   <setting id="wushare_password" type="text" option="hidden" label="50002" />
       <setting type="lsep" label="50004" />
       <setting type="action" label="50005" action="RunScript(plugin.video.javstream, 0, ?realdebrid=true)" />
       <setting type="text" label="50006" enabel="false" option="hidden" />
	</category>
    <category label="60000">
       <setting id="library_path" type="folder" source="video" label="60001" option="writeable" default="special://userdata/addon_data/plugin.video.javstream/JAV"/>
       <setting id="library_update" type="bool" label="60002" default="false"/>
	</category>
	<category label="40000">
        <setting id="40wushare" type="bool" label="40047" default="false"/>
        <setting id="409XXX" type="bool" label="40049" default="true"/>
        <setting id="40dinojav" type="bool" label="40012" default="true"/>
        <setting id="40dodova" type="bool" label="40006" default="true"/>
        <setting id="40dojav69" type="bool" label="40038" default="true" />
        <setting id="40freevideopornxxx" type="bool" label="40044" default="true"/>
        <setting id="40freejav" type="bool" label="40063" default="true"/>
        <setting id="40gaimup" type="bool" label="40069" default="false"/>
        <setting id="40gravuregirlz" type="bool" label="40046" default="true"/>
        <setting id="40hentaidream" type="bool" label="40007" default="true"/>
        <setting id="40hjav5278" type="bool" label="40041" default="true"/>
        <setting id="40idolportal" type="bool" label="40054" default="false" />
        <setting id="40ivhunter" type="bool" label="40002" default="false"/>
        <setting id="40jav18" type="bool" label="40066" default="true"/>
        <setting id="40jav4k" type="bool" label="40020" default="true"/>
        <setting id="40jav-720p" type="bool" label="40059" default="true" />
        <setting id="40jav720p" type="bool" label="40028" default="true" />
        <setting id="40javabc" type="bool" label="40033" default="true" />
        <setting id="40javbest" type="bool" label="40045" default="true" />
        <setting id="40javcuteonline" type="bool" label="40058" default="true" />
        <setting id="40javeu" type="bool" label="40023" default="true" />
        <setting id="40javgo" type="bool" label="40068" default="true" />
        <setting id="40javhdfree" type="bool" label="40037" default="true" />
        <setting id="40javhdonline" type="bool" label="40003" default="true"/>
        <setting id="40javhdvideo" type="bool" label="40034" default="true" />
        <setting id="40javhub" type="bool" label="40021" default="true"/>
        <setting id="40javl" type="bool" label="40039" default="true" />
        <setting id="40javlabels" type="bool" label="40018" default="true"/>
        <setting id="40javleak" type="bool" label="40048" default="true"/>
        <setting id="40javlinks" type="bool" label="40005" default="true"/>
        <setting id="40javocado" type="bool" label="40064" default="true"/>
        <setting id="40jav-onlines" type="bool" label="40022" default="true"/>
        <setting id="40javseen" type="bool" label="40015" default="true"/>
        <setting id="40javsex" type="bool" label="40035" default="true" />
        <setting id="40javst" type="bool" label="40017" default="true"/>
        <setting id="40javstreamclub" type="bool" label="40061" default="true" />
        <setting id="40jav-stream" type="bool" label="40014" default="true"/>
        <setting id="40javstreams" type="bool" label="40030" default="true" />
        <setting id="40javtubehd" type="bool" label="40051" default="true" />
        <setting id="40javtv" type="bool" label="40031" default="true" />
        <setting id="40javus" type="bool" label="40067" default="true"/>
        <setting id="40jpav" type="bool" label="40040" default="true"/>
        <setting id="40jpidols" type="bool" label="40036" default="true" />
        <setting id="40kodporn" type="bool" label="40052" default="true" />
        <setting id="40koleksijav" type="bool" label="40060" default="true" />
        <setting id="40planetjav" type="bool" label="40055" default="true" />
        <setting id="40popjav" type="bool" label="40065" default="true" />
		<setting id="40sexloading" type="bool" label="40001" default="true"/>
        <setting id="40streamingjav" type="bool" label="40009" default="true"/>
        <setting id="40streamjavporn" type="bool" label="40057" default="true" />
        <setting id="40top1porn" type="bool" label="40013" default="true"/>
        <setting id="40tubebo" type="bool" label="40042" default="true"/>
		<setting id="40watchjavonline" type="bool" label="40004" default="true"/>
        <setting id="40xonline" type="bool" label="40062" default="true" />
        <setting id="40yebbun90" type="bool" label="40024" default="false" />
        <setting id="40youpornjav" type="bool" label="40025" default="true" />
        <setting id="40ytbsexclub" type="bool" label="40056" default="true" />
	</category>
    <category label="41000">
        <setting id="41wushare" type="bool" label="40047" default="false"/>
        <setting id="419XXX" type="bool" label="40049" default="true"/>
        <setting id="41dinojav" type="bool" label="40012" default="true"/>
        <setting id="41dodova" type="bool" label="40006" default="true"/>
        <setting id="41dojav69" type="bool" label="40038" default="true" />
        <setting id="41freevideopornxxx" type="bool" label="40044" default="true"/>
        <setting id="41freejav" type="bool" label="40063" default="true"/>
        <setting id="41gaimup" type="bool" label="40069" default="true"/>
        <setting id="41gravuregirlz" type="bool" label="40046" default="false"/>
        <setting id="41hentaidream" type="bool" label="40007" default="true"/>
        <setting id="41hjav5278" type="bool" label="40041" default="true"/>
        <setting id="41idolportal" type="bool" label="40054" default="false" />
        <setting id="41ivhunter" type="bool" label="40002" default="false"/>
        <setting id="41jav18" type="bool" label="40066" default="true"/>
        <setting id="41jav4k" type="bool" label="40020" default="true"/>
        <setting id="41jav-720p" type="bool" label="40059" default="false" />
        <setting id="41jav720p" type="bool" label="40028" default="false" />
        <setting id="41javabc" type="bool" label="40033" default="false" />
        <setting id="41javbest" type="bool" label="40045" default="false" />
        <setting id="41javcuteonline" type="bool" label="40058" default="true" />
        <setting id="41javeu" type="bool" label="40023" default="true" />
        <setting id="41javgo" type="bool" label="40068" default="true" />
        <setting id="41javhdfree" type="bool" label="40037" default="true" />
        <setting id="41javhdonline" type="bool" label="40003" default="true"/>
        <setting id="41javhdvideo" type="bool" label="40034" default="false" />
        <setting id="41javhub" type="bool" label="40021" default="true"/>
        <setting id="41javl" type="bool" label="40039" default="true" />
        <setting id="41javlabels" type="bool" label="40018" default="true"/>
        <setting id="41javleak" type="bool" label="40048" default="true"/>
        <setting id="41javlinks" type="bool" label="40005" default="true"/>
        <setting id="41javocado" type="bool" label="40064" default="false"/>
        <setting id="41jav-onlines" type="bool" label="40022" default="true"/>
        <setting id="41javseen" type="bool" label="40015" default="true"/>
        <setting id="41javsex" type="bool" label="40035" default="false" />
        <setting id="41javst" type="bool" label="40017" default="false"/>
        <setting id="41javstreamclub" type="bool" label="40061" default="true" />
        <setting id="41jav-stream" type="bool" label="40014" default="true"/>
        <setting id="41javstreams" type="bool" label="40030" default="false" />
        <setting id="41javtubehd" type="bool" label="40051" default="true" />
        <setting id="41javtv" type="bool" label="40031" default="false" />
        <setting id="41javus" type="bool" label="40067" default="true"/>
        <setting id="41jpav" type="bool" label="40040" default="true"/>
        <setting id="41jpidols" type="bool" label="40036" default="true" />
        <setting id="41kodporn" type="bool" label="40052" default="false" />
        <setting id="41koleksijav" type="bool" label="40060" default="false" />
        <setting id="41planetjav" type="bool" label="40055" default="false" />
        <setting id="41popjav" type="bool" label="40065" default="true" />
		<setting id="41sexloading" type="bool" label="40001" default="true"/>
        <setting id="41streamjav" type="bool" label="40009" default="true"/>
        <setting id="41streamjavporn" type="bool" label="40057" default="false" />
        <setting id="41top1porn" type="bool" label="40013" default="false"/>
        <setting id="41tubebo" type="bool" label="40042" default="false"/>
		<setting id="41watchjavonline" type="bool" label="40004" default="true"/>
        <setting id="41xonline" type="bool" label="40062" default="true" />
        <setting id="41yebbun90" type="bool" label="40024" default="false" />
        <setting id="41youpornjav" type="bool" label="40025" default="false" />
        <setting id="41ytbsexclub" type="bool" label="40056" default="true" />
	</category>
    <category label="42000">
        <setting id="42wushare" type="bool" label="40047" default="false"/>
        <setting id="429XXX" type="bool" label="40049" default="true"/>
		<setting id="42dinojav" type="bool" label="40012" default="false"/>
        <setting id="42dodova" type="bool" label="40006" default="false"/>
        <setting id="42dojav69" type="bool" label="40038" default="false" />
        <setting id="42freevideopornxxx" type="bool" label="40044" default="false"/>
        <setting id="42freejav" type="bool" label="40063" default="false"/>
        <setting id="42gaimup" type="bool" label="40069" default="false"/>
        <setting id="42gravuregirlz" type="bool" label="40046" default="true"/>
        <setting id="42hentaidream" type="bool" label="40007" default="false"/>
        <setting id="42hjav5278" type="bool" label="40041" default="true"/>
        <setting id="42idolportal" type="bool" label="40054" default="true" />
        <setting id="42ivhunter" type="bool" label="40002" default="true"/>
        <setting id="42jav18" type="bool" label="40066" default="false"/>
        <setting id="42jav4k" type="bool" label="40020" default="false"/>
        <setting id="42jav-720p" type="bool" label="40059" default="false" />
        <setting id="42jav720p" type="bool" label="40028" default="false" />
        <setting id="42javabc" type="bool" label="40033" default="false" />
        <setting id="42javbest" type="bool" label="40045" default="false" />
        <setting id="42javcuteonline" type="bool" label="40058" default="false" />
        <setting id="42javeu" type="bool" label="40023" default="true" />
        <setting id="42javgo" type="bool" label="40068" default="true" />
        <setting id="42javhdfree" type="bool" label="40037" default="false" />
        <setting id="42javhdonline" type="bool" label="40003" default="true"/>
        <setting id="42javhdvideo" type="bool" label="40034" default="false" />
        <setting id="42javhub" type="bool" label="40021" default="false"/>
        <setting id="42javl" type="bool" label="40039" default="false" />
        <setting id="42javlabels" type="bool" label="40018" default="false"/>
        <setting id="42javleak" type="bool" label="40048" default="false"/>
        <setting id="42javlinks" type="bool" label="40005" default="false"/>
        <setting id="42javocado" type="bool" label="40064" default="false"/>
        <setting id="42jav-onlines" type="bool" label="40022" default="false"/>
        <setting id="42javseen" type="bool" label="40015" default="false"/>
        <setting id="42javsex" type="bool" label="40035" default="false" />
        <setting id="42javst" type="bool" label="40017" default="false"/>
        <setting id="42javstreamclub" type="bool" label="40061" default="true" />
        <setting id="42jav-stream" type="bool" label="40014" default="false"/>
        <setting id="42javstreams" type="bool" label="40030" default="false" />
        <setting id="42javtubehd" type="bool" label="40051" default="false" />
        <setting id="42javtv" type="bool" label="40031" default="false" />
        <setting id="42javus" type="bool" label="40067" default="false"/>
        <setting id="42jpav" type="bool" label="40040" default="false"/>
        <setting id="42jpidols" type="bool" label="40036" default="true" />
        <setting id="42kodporn" type="bool" label="40052" default="false" />
        <setting id="42koleksijav" type="bool" label="40060" default="false" />
        <setting id="42planetjav" type="bool" label="40055" default="false" />
        <setting id="42popjav" type="bool" label="40065" default="false" />
		<setting id="42sexloading" type="bool" label="40001" default="false"/>
        <setting id="42streamjav" type="bool" label="40009" default="false"/>
        <setting id="42streamjavporn" type="bool" label="40057" default="false" />
        <setting id="42top1porn" type="bool" label="40013" default="false"/>
        <setting id="42tubebo" type="bool" label="40042" default="false"/>
		<setting id="42watchjavonline" type="bool" label="40004" default="true"/>
        <setting id="42xonline" type="bool" label="40062" default="false" />
        <setting id="42yebbun90" type="bool" label="40024" default="false" />
        <setting id="42youpornjav" type="bool" label="40025" default="false" />
        <setting id="42ytbsexclub" type="bool" label="40056" default="false" />
    </category>
    <category label="43000">
        <setting id="43wushare" type="bool" label="40047" default="false"/>
        <setting id="439XXX" type="bool" label="40049" default="true"/>
        <setting id="43dinojav" type="bool" label="40012" default="true"/>
        <setting id="43dodova" type="bool" label="40006" default="true"/>
        <setting id="43dojav69" type="bool" label="40038" default="true" />
        <setting id="43freevideopornxxx" type="bool" label="40044" default="true"/>
        <setting id="43freejav" type="bool" label="40063" default="true"/>
        <setting id="43gaimup" type="bool" label="40069" default="true"/>
        <setting id="43gravuregirlz" type="bool" label="40046" default="true"/>
        <setting id="43hentaidream" type="bool" label="40007" default="true"/>
        <setting id="43hjav5278" type="bool" label="40041" default="true"/>
        <setting id="43idolportal" type="bool" label="40054" default="true" />
        <setting id="43ivhunter" type="bool" label="40002" default="true"/>
        <setting id="43jav18" type="bool" label="40066" default="true"/>
        <setting id="43jav4k" type="bool" label="40020" default="true"/>
        <setting id="43jav-720p" type="bool" label="40059" default="true" />
        <setting id="43jav720p" type="bool" label="40028" default="true" />
        <setting id="43javabc" type="bool" label="40033" default="true" />
        <setting id="43javbest" type="bool" label="40045" default="true" />
        <setting id="43javcuteonline" type="bool" label="40058" default="true" />
        <setting id="43javeu" type="bool" label="40023" default="true" />
        <setting id="43javgo" type="bool" label="40068" default="true" />
        <setting id="43javhdfree" type="bool" label="40037" default="true" />
        <setting id="43javhdonline" type="bool" label="40003" default="true"/>
        <setting id="43javhdvideo" type="bool" label="40034" default="true" />
        <setting id="43javhub" type="bool" label="40021" default="true"/>
        <setting id="43javl" type="bool" label="40039" default="true" />
        <setting id="43javlabels" type="bool" label="40018" default="true"/>
        <setting id="43javleak" type="bool" label="40048" default="true"/>
        <setting id="43javlinks" type="bool" label="40005" default="true"/>
        <setting id="43javocado" type="bool" label="40064" default="true"/>
        <setting id="43jav-onlines" type="bool" label="40022" default="true"/>
        <setting id="43javseen" type="bool" label="40015" default="true"/>
        <setting id="43javsex" type="bool" label="40035" default="true" />
        <setting id="43javst" type="bool" label="40017" default="true"/>
        <setting id="43javstreamclub" type="bool" label="40061" default="true" />
        <setting id="43jav-stream" type="bool" label="40014" default="true"/>
        <setting id="43javstreams" type="bool" label="40030" default="true" />
        <setting id="43javtubehd" type="bool" label="40051" default="true" />
        <setting id="43javtv" type="bool" label="40031" default="true" />
        <setting id="43javus" type="bool" label="40067" default="true"/>
        <setting id="43jpav" type="bool" label="40040" default="true"/>
        <setting id="43jpidols" type="bool" label="40036" default="true" />
        <setting id="43kodporn" type="bool" label="40052" default="true" />
        <setting id="41koleksijav" type="bool" label="40060" default="true" />
		<setting id="43planetjav" type="bool" label="40055" default="true" />
        <setting id="43popjav" type="bool" label="40065" default="true" />
        <setting id="43sexloading" type="bool" label="40001" default="true"/>
        <setting id="43streamjav" type="bool" label="40009" default="true"/>
        <setting id="43streamjavporn" type="bool" label="40057" default="true" />
        <setting id="43top1porn" type="bool" label="40013" default="true"/>
        <setting id="43tubebo" type="bool" label="40042" default="true"/>
		<setting id="43watchjavonline" type="bool" label="40004" default="true"/>
        <setting id="43xonline" type="bool" label="40062" default="true" />
        <setting id="43yebbun90" type="bool" label="40024" default="true" />
        <setting id="43youpornjav" type="bool" label="40025" default="true" />
        <setting id="43ytbsexclub" type="bool" label="40056" default="true" />
    </category>
    <category label="70000">
        <setting type="action" label="70001" action="RunScript(plugin.video.javstream, 0, ?emptySearch=true)" />
        <setting type="action" label="70002" action="RunScript(plugin.video.javstream, 0, ?emptyBookmarks=true)" />
    </category>
</settings>