<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="20000">
        <setting type="lsep" label="20006" />
        <setting id="autoyplay" type="bool" label="20001" default="false" />
        <setting type="lsep" label="20002" />
        <setting id="download_path" type="folder" source="video" label="20003" option="writeable" default=""/>
        <setting type="lsep" label="20007" />
        <setting id="vidview" type="number" label="20008" default="50" />
        <setting type="lsep" label="20005" />
        <setting id="proxy" type="bool" label="20004" default="false" />
    </category>
	<category label="30000">
	   <setting id="translation" type="bool" label="30001" default="false"/>
	   <setting id="language" type="select" label="30002" values="cs|da|de|el|en|es|fi|fr|he|hr|hu|it|ja|ko|nl|no|pl|pt|ru|sl|sv|tr|zh" default="en" />
	   <setting type="lsep" label="30942" />
	   <setting type="lsep" label="30943" />
       <setting type="lsep" label="30944" />
	</category>
	<category label="40000">
		<setting id="40sexloading" type="bool" label="40001" default="true"/>
		<setting id="40ivhunter" type="bool" label="40002" default="false"/>
		<setting id="40javhdonline" type="bool" label="40003" default="true"/>
		<setting id="40watchjavonline" type="bool" label="40004" default="true"/>
		<setting id="40javlinks" type="bool" label="40005" default="true"/>
		<setting id="40dodova" type="bool" label="40006" default="true"/>
		<setting id="40hentaidream" type="bool" label="40007" default="true"/>
		<setting id="40jav69" type="bool" label="40008" default="true"/>
		<setting id="40streamingjav" type="bool" label="40009" default="true"/>
		<setting id="40phimsexjav" type="bool" label="40010" default="true"/>
		<setting id="40javwest" type="bool" label="40011" default="true"/>
		<setting id="40dinojav" type="bool" label="40012" default="true"/>
		<setting id="40top1porn" type="bool" label="40013" default="true"/>
		<setting id="40jav-stream" type="bool" label="40014" default="true"/>
		<setting id="40javseen" type="bool" label="40015" default="true"/>
		<setting id="40ikujav" type="bool" label="40016" default="false"/>
		<setting id="40javst" type="bool" label="40017" default="true"/>
		<setting id="40javlabels" type="bool" label="40018" default="true"/>
		<setting id="40terlarang" type="bool" label="40019" default="true"/>
        <setting id="40jav4k" type="bool" label="40020" default="true"/>
        <setting id="40javhub" type="bool" label="40021" default="true"/>
        <setting id="40jav-onlines" type="bool" label="40022" default="true"/>
        <setting id="40javeu" type="bool" label="40023" default="true" />
        <setting id="40yebbun90" type="bool" label="40024" default="false" />
        <setting id="40youpornjav" type="bool" label="40025" default="true" />
        <setting id="40javshow" type="bool" label="40026" default="true" />
        <setting id="40eropoi" type="bool" label="40027" default="true" />
        <setting id="40jav720p" type="bool" label="40028" default="true" />
        <setting id="40korean720" type="bool" label="40029" default="true" />
        <setting id="40javstreams" type="bool" label="40030" default="true" />
        <setting id="40javtv" type="bool" label="40031" default="true" />
        <setting id="40javstream365" type="bool" label="40032" default="true" />
        <setting id="40javabc" type="bool" label="40033" default="true" />
        <setting id="40javhdvideo" type="bool" label="40034" default="true" />
        <setting id="40javsex" type="bool" label="40035" default="true" />
        <setting id="40jpidols" type="bool" label="40036" default="true" />
        <setting id="40javhdfree" type="bool" label="40037" default="true" />
        <setting id="40dojav69" type="bool" label="40038" default="true" />
	</category>
    <category label="41000">
		<setting id="41sexloading" type="bool" label="40001" default="false"/>
		<setting id="41ivhunter" type="bool" label="40002" default="false"/>
		<setting id="41javhdonline" type="bool" label="40003" default="true"/>
		<setting id="41watchjavonline" type="bool" label="40004" default="true"/>
		<setting id="41javlinks" type="bool" label="40005" default="true"/>
		<setting id="41dodova" type="bool" label="40006" default="true"/>
		<setting id="41hentaidream" type="bool" label="40007" default="true"/>
		<setting id="41jav69" type="bool" label="40008" default="true"/>
		<setting id="41streamingjav" type="bool" label="40009" default="true"/>
		<setting id="41phimsexjav" type="bool" label="40010" default="true"/>
		<setting id="41javwest" type="bool" label="40011" default="true"/>
		<setting id="41dinojav" type="bool" label="40012" default="true"/>
		<setting id="41top1porn" type="bool" label="40013" default="true"/>
		<setting id="41jav-stream" type="bool" label="40014" default="true"/>
		<setting id="41javseen" type="bool" label="40015" default="true"/>
		<setting id="41ikujav" type="bool" label="40016" default="false"/>
		<setting id="41javst" type="bool" label="40017" default="false"/>
		<setting id="41javlabels" type="bool" label="40018" default="true"/>
		<setting id="41terlarang" type="bool" label="40019" default="true"/>
        <setting id="41jav4k" type="bool" label="40020" default="true"/>
        <setting id="41javhub" type="bool" label="40021" default="true"/>
        <setting id="41jav-onlines" type="bool" label="40022" default="true"/>
        <setting id="41javeu" type="bool" label="40023" default="true" />
        <setting id="41yebbun90" type="bool" label="40024" default="true" />
        <setting id="41youpornjav" type="bool" label="40025" default="false" />
        <setting id="41javshow" type="bool" label="40026" default="true" />
        <setting id="41eropoi" type="bool" label="40027" default="true" />
        <setting id="41jav720p" type="bool" label="40028" default="true" />
        <setting id="41korean720" type="bool" label="40029" default="true" />
        <setting id="41javstreams" type="bool" label="40030" default="false" />
        <setting id="41javtv" type="bool" label="40031" default="false" />
        <setting id="41javstream365" type="bool" label="40032" default="true" />
        <setting id="41javabc" type="bool" label="40033" default="false" />
        <setting id="41javhdvideo" type="bool" label="40034" default="false" />
        <setting id="41javsex" type="bool" label="40035" default="false" />
        <setting id="41jpidols" type="bool" label="40036" default="true" />
        <setting id="41javhdfree" type="bool" label="40037" default="true" />
        <setting id="41dojav69" type="bool" label="40038" default="true" />
	</category>
    <category label="42000">
		<setting id="42sexloading" type="bool" label="40001" default="false"/>
		<setting id="42ivhunter" type="bool" label="40002" default="true"/>
		<setting id="42javhdonline" type="bool" label="40003" default="true"/>
		<setting id="42watchjavonline" type="bool" label="40004" default="true"/>
		<setting id="42javlinks" type="bool" label="40005" default="false"/>
		<setting id="42dodova" type="bool" label="40006" default="false"/>
		<setting id="42hentaidream" type="bool" label="40007" default="false"/>
		<setting id="42jav69" type="bool" label="40008" default="false"/>
		<setting id="42streamingjav" type="bool" label="40009" default="false"/>
		<setting id="42phimsexjav" type="bool" label="40010" default="false"/>
		<setting id="42javwest" type="bool" label="40011" default="false"/>
		<setting id="42dinojav" type="bool" label="40012" default="false"/>
		<setting id="42top1porn" type="bool" label="40013" default="false"/>
		<setting id="42jav-stream" type="bool" label="40014" default="false"/>
		<setting id="42javseen" type="bool" label="40015" default="false"/>
		<setting id="42ikujav" type="bool" label="40016" default="false"/>
		<setting id="42javst" type="bool" label="40017" default="false"/>
		<setting id="42javlabels" type="bool" label="40018" default="false"/>
		<setting id="42terlarang" type="bool" label="40019" default="true"/>
        <setting id="42jav4k" type="bool" label="40020" default="false"/>
        <setting id="42javhub" type="bool" label="40021" default="false"/>
        <setting id="42jav-onlines" type="bool" label="40022" default="false"/>
        <setting id="42javeu" type="bool" label="40023" default="true" />
        <setting id="42yebbun90" type="bool" label="40024" default="false" />
        <setting id="42youpornjav" type="bool" label="40025" default="false" />
        <setting id="42javshow" type="bool" label="40026" default="false" />
        <setting id="42eropoi" type="bool" label="40027" default="false" />
        <setting id="42jav720p" type="bool" label="40028" default="false" />
        <setting id="42korean720" type="bool" label="40029" default="false" />
        <setting id="42javstreams" type="bool" label="40030" default="false" />
        <setting id="42javtv" type="bool" label="40031" default="false" />
        <setting id="42javstream365" type="bool" label="40032" default="false" />
        <setting id="42javabc" type="bool" label="40033" default="false" />
        <setting id="42javhdvideo" type="bool" label="40034" default="false" />
        <setting id="42javsex" type="bool" label="40035" default="false" />
        <setting id="42jpidols" type="bool" label="40036" default="true" />
        <setting id="42javhdfree" type="bool" label="40037" default="false" />
        <setting id="42dojav69" type="bool" label="40038" default="false" />
	</category>
    <category label="43000">
		<setting id="43sexloading" type="bool" label="40001" default="true"/>
		<setting id="43ivhunter" type="bool" label="40002" default="true"/>
		<setting id="43javhdonline" type="bool" label="40003" default="true"/>
		<setting id="43watchjavonline" type="bool" label="40004" default="true"/>
		<setting id="43javlinks" type="bool" label="40005" default="true"/>
		<setting id="43dodova" type="bool" label="40006" default="true"/>
		<setting id="43hentaidream" type="bool" label="40007" default="true"/>
		<setting id="43jav69" type="bool" label="40008" default="true"/>
		<setting id="43streamingjav" type="bool" label="40009" default="true"/>
		<setting id="43phimsexjav" type="bool" label="40010" default="true"/>
		<setting id="43javwest" type="bool" label="40011" default="true"/>
		<setting id="43dinojav" type="bool" label="40012" default="true"/>
		<setting id="43top1porn" type="bool" label="40013" default="true"/>
		<setting id="43jav-stream" type="bool" label="40014" default="true"/>
		<setting id="43javseen" type="bool" label="40015" default="true"/>
		<setting id="43ikujav" type="bool" label="40016" default="true"/>
		<setting id="43javst" type="bool" label="40017" default="true"/>
		<setting id="43javlabels" type="bool" label="40018" default="true"/>
		<setting id="43terlarang" type="bool" label="40019" default="true"/>
        <setting id="43jav4k" type="bool" label="40020" default="true"/>
        <setting id="43javhub" type="bool" label="40021" default="true"/>
        <setting id="43jav-onlines" type="bool" label="40022" default="true"/>
        <setting id="43javeu" type="bool" label="40023" default="true" />
        <setting id="43yebbun90" type="bool" label="40024" default="true" />
        <setting id="43youpornjav" type="bool" label="40025" default="true" />
        <setting id="43javshow" type="bool" label="40026" default="true" />
        <setting id="43eropoi" type="bool" label="40027" default="true" />
        <setting id="43jav720p" type="bool" label="40028" default="true" />
        <setting id="43korean720" type="bool" label="40029" default="true" />
        <setting id="43javstreams" type="bool" label="40030" default="true" />
        <setting id="43javtv" type="bool" label="40031" default="true" />
        <setting id="43javstream365" type="bool" label="40032" default="true" />
        <setting id="43javabc" type="bool" label="40033" default="true" />
        <setting id="43javhdvideo" type="bool" label="40034" default="true" />
        <setting id="43javsex" type="bool" label="40035" default="true" />
        <setting id="43jpidols" type="bool" label="40036" default="true" />
        <setting id="43javhdfree" type="bool" label="40037" default="true" />
        <setting id="43dojav69" type="bool" label="40038" default="true" />
	</category>
</settings>