<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="10000">
        <setting type="lsep" label="20000" />
            <setting id="quality" type="enum" label="30000" values="Low|Medium|High|HD" default="1" subsetting="true"/>
    
        <setting type="lsep" label="50000" />
        <setting type="lsep" label="50001" />

</category>

</settings>
