<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>

<category label="Backup/Restore">
		<setting id="zip" type="folder"    label="Choose Backup Storage Location:"      default="Click Here"/>
		<setting id="notify" default="0" visible="false" />
</category>

<category label="Addon Installer Sections">

		<setting visible="false" id="newest" 			type="bool" label="Newest Added" default="true"/>
		<setting visible="false" id="updated" 		type="bool" label="Recently Updated" default="true"/>
		<setting visible="false" id="toprepositories" type="bool" label="Top Developers Section" default="true"/>
	    <setting visible="true" id="skincat" 			type="bool" label="Skins" default="true"/>
		<setting visible="true" id="featured" 		type="bool" label="Featured Section" default="true"/>
		<setting visible="true" id="video" 				type="bool" label="Video Section" default="true"/>
		<setting visible="true" id="audio" 				type="bool" label="Audio Section" default="true"/>
		<setting visible="true" id="program" 			type="bool" label="Programs Section" default="true"/>
		<setting visible="false" id="repositories" type="bool" label="Repositories Section" default="false"/>
		<setting visible="true" id="world" 				type="bool" label="International Section" default="true"/>
		<setting visible="true" id="adult" 				type="bool" label="Adult Section" default="true"/>
		<setting visible="false" id="wizardran" 				type="bool" label="Wizard Ran" default="false"/>
		<setting visible="false" id="scriptblock" 				type="bool" label="Scrpit Blocker" default="true"/>
	</category>

	<category label="Maintenance Options">
		<setting type="lsep" label="Checks Cache Size, Packages Size, etc"/>
		<setting id="maint_check_folders" type="bool" label="Enable Folder Size Monitoring For Maintenance Section?" default="true"/>	
	</category>

	<category label="Auto Clean Options">
		<setting type="lsep" label="Launch Time Options"/>
		<setting id="acstartup" type="bool" label="Clear on Kodi Launch" default="false"/>	
		<setting type="lsep" label="Check Cache, Packages Etc And Prompt To Clean If Over 100 MB."/>
		<setting id="startupsize" type="bool" label="Check Folder Sizes on Launch" default="false"/>	
		<setting type="lsep" label="Clean Up At Certain MB"/>
		<setting id="cachemb" type="enum" values="Disabled|25 MB|50 MB|75 MB|100 MB" label="Clear Cache At (MB)" default="0"/>
		<setting id="packagesmb" type="enum" values="Disabled|25 MB|50 MB|75 MB|100 MB" label="Clear Packages At (MB)" default="0"/>
		<setting id="thumbsmb" type="enum" values="Disabled|25 MB|50 MB|75 MB|100 MB" label="Clear Thumbnails At (MB)" default="0"/>
		<setting type="lsep" label="Weekly Clean Out"/>
		<setting id="clearday" type="enum" values="None|Monday|Tuesday|Wednesday|Thursday|Friday|Saturday|Sunday" label="Clean Out Day" default="0"/>
		<setting type="lsep" label="Clean Up Options"/>
		<setting id="accache" type="bool" label="Clear Cache" default="true"/>	
		<setting id="accrash" type="bool" label="Clear Crash Logs" default="true"/>	
		<setting id="acthumbs" type="bool" label="Clear Thumbnails" default="true"/>	
		<setting id="acpackages" type="bool" label="Purge Packages" default="true"/>	
   	</category>
    
	<category label="Notifications">
		<setting type="bool" default="false" id="notifications-on-startup" label="Unsubscribe" />
		<setting visible="false" id="hasran" 				type="bool" label="HasRan" default="false"/>
		<setting visible="false" id="set_rtmp" 				type="bool" label="Set_RTMP" default="false"/>
	</category>

	<category label="Auto-View">
		<setting id="auto-view" type="bool" label="[COLOR blue]Enable Autoview[/COLOR]" default="true"/>

   	</category>

</settings>



