########################################################
# Sports List A
########################################################

########################################################
start=http://www.wwe.com/inside/networkschedule






@IF(@PARAM1@!=CATCH)@

skill=videoTitle
skill=allowDuplicates
item_infos=clock">(.+?)</span>\s <.+?ampm">(.+?)</span>\s <.+?"et">(.+?)</span>\s </div>\s.+?\s   .+?src="(.+?)" /></a>\s   .+?\s   .+?"title">(.+?)</span>\s   <span>.+?</span>\s   .+?"info">(.+?)</span>
item_order=clock|ampm|et|icon|show|info
item_skill=rss

item_info_name=title
item_info_from=[COLOR=white]' + clock + '[/COLOR][COLOR=red]' + ampm + ' [/COLOR][COLOR=FF00FF00]'  + et +  ': [/COLOR] [COLOR=white]' + show + ' [/COLOR][COLOR=FF00FF00]'  + info +  '[/COLOR]
item_info_build=%s

item_info_name=cfg
item_info_build=Various/usport.cfg@CATCH


item_info_name=type
item_info_build=video

item_url_build=rtmp://80.82.78.26:443/liverepeater playpath=70 swfUrl=http://popeoftheplayers.eu/atdedead.swf pageUrl=http://popeoftheplayers.eu/crichd.php?id=70&width=600&height=450 token=#atd%#$ZH live=true timeout=10%s

           



@ENDIF@

