<settings>
  <category label="General">
    <setting id="Updatecommonresolvers" label="Update Resolver" type="bool" default="false"/>
    <setting label="Enable Auto Play" default="false" type="bool" id="autoplay"/>
    <setting id="add_playlist" type="bool" label="Add items with multiple links as play lists" default="false"/>
    <setting id="ask_playlist_items" type="bool" label="Ask playlist items to choose from dialog" default="false" />
    <setting id="debug" type="bool" label="Enable Add-on Debugging" default="false"/>
    <setting id="1080pquality" label="Play 1080p video ON demand if available (Not live)" type="bool" default=""/>
    <setting id="genesisorpulsar" type="enum" values="Genesis|Pulsar" label="Play IMDBid with:" default="Genesis"/>
    <setting id="donotshowbychannels" label="Do Not show items under channel name" type="bool" default="false"/>
    <setting id="dlaudioonly" label="Create option to download only youtube audio" type="bool"  default="false"/>
  </category>
</settings>
