<settings>
  <category label="General">
    <setting id="preferred_rate" type="enum" label="30003" lvalues="30004|30005|30006|30007|30008" default="3"/>
  </category>
  <category label="30011">
    <setting id="sub_type" type="bool" label="30017" default="false"/>
    <setting id="email" type="text" label="30001" default="" enable="!eq(-1,false)"/>
    <setting id="password" type="text" label="30002" default="" option="hidden" enable="!eq(-2,false)"/>
  </category>
</settings>